<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
  
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ about.image.url }}" alt="{{ about.title }}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{ about.title }}
              </h2>
            </div>
            <p>
              {{ about.description | safe }}
            </p>
            <!-- If you have a "Read More" link in your AboutInfo model, replace '#' with its URL -->
            <a href="{% if about.read_more_link %}{{ about.read_more_link }}{% else %}#{% endif %}">
              Read More
            </a> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->
  