{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/static/asset/favicon.png" type="">

    <title> {{restaurant.name}} </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/asset/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/static/asset/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/static/asset/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/asset/css/responsive.css" rel="stylesheet" />


</head>

<body>

    <div class="hero_area" id="home">
        <div class="bg-box">
            <img src="/static/asset/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container navbar-fixed-top">
                    <a class="navbar-brand" href="index.html">

                        <span>
                            <img src="/static/asset/logo.png" style="margin:0;padding:0px;" width="45" alt="logo">
    
            </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#reviews">Reviews</a>
                            </li>
                        </ul>
                        <div class="user_option">




                            <!-- Button trigger modal -->

                            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#cartModal">
                            <div class="cart_link" href="#">
                                <i class="fa fa-cart-arrow-down" aria-hidden="false"></i>
                                <sup>{{cart_nbr}}</sup>
                            </div>
                            </button>




                            <!-- Central Modal  -->

                            <div class="modal right fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="false">
                                <div class="modal-dialog modal-side modal-top-right ">
                                    <div class="modal-content">
                                        <div class="modal-header border-bottom-0">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                Your Shopping Cart
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-split">



                                                <table class="table table-image">
                                                    <thead>
                                                        <tr>

                                                            <th scope="col">Product</th>
                                                            <th scope="col">Price</th>
                                                            <th scope="col">Qty</th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in cart %}
                                                        <tr>

                                                            <td>{{item.name}}</td>
                                                            <td>{{item.price}} MAD</td>
                                                            <td>{{item.quantity}}</td>
                                                            <td>{{item.total_price}} MAD</td>
                                                            <td>
                                                                <a href="{% url 'delete_from_cart' item.id %}" class="btn btn-danger btn-sm">
                                                                    <i class="fa fa-times"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="d-flex justify-content-end">
                                                    <h5>Total: <span class="price text-success">{{cart_total}} MAD</span></h5>
                                                </div>


                                            </div>

                                            <div class="modal-split">
                                                <hr />
                                                <br />
                                                <form method="post" action="{% url 'checkout' %}" target="_blank">
                                                    {% csrf_token %}
                                                    <div class="input-group flex-wrap">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Name * </span>
                                                        </div>
                                                        <input type="text" aria-label="Name" id="name" name="name" class="form-control" required>

                                                    </div>
                                                    <div class="text-danger w-100" id="name_err">
                                                        <small>Please Inter Your Name.</small>
                                                    </div>

                                                    <div class="input-group mt-3" id="address_input">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Street address</span>
                                                        </div>
                                                        <input type="text" aria-label="Adress" name="adress" class="form-control" required>
                                                    </div>
                                                    <label class="block text-sm font-medium text-gray-700 mb-2 mt-4"> How would you like to receive your order?   </label>
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn btn-secondary active" id="R_Delivery">
                                                        <input type="radio" name="payment" id="Delivery" autocomplete="off" value="Delivery" checked><i class="fa fa-motorcycle" aria-hidden="true"></i> Delivery + 20 MAD
                                                        </label>

                                                        <label class="btn btn-secondary" id="R_Pickup">
                                                        <input type="radio" name="payment" id="Pickup" autocomplete="off" value="Pickup">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                                                            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                                                          </svg> 
                                                          Pickup at the store
                                                        </label>

                                                    </div>



                                                </form>
                                            </div>

                                        </div>
                                        <div class="modal-footer border-top-0 d-flex justify-content-between">
                                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                                            <!-- <a href="https://wa.me/{{restaurant.phone}}?text={{wp_msg}}" target="_blank"><button type="button" class="btn btn-success">Checkout</button></a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Central Modal -->


                        </div>
                </nav>
                </div>
        </header>
        <!-- end header section -->



        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            {{restaurant.name}}
                                        </h1>
                                        <p>
                                            {{restaurant.description | safe}}

                                        </p>
                                        <div class="btn-box">
                                            <a href="tel:{{restaurant.phone}}" class="btn1">
                                                Call {{restaurant.phone}}
                      </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
        <!-- end slider section -->
        </div>

        <!-- block Menu -->

        {% block content %} {% endblock content %}

        <!-- end block Menu -->






        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col">
                        <div class="footer_contact">
                            <h4>
                                Contact Us
                            </h4>
                            <div class="contact_link_box">
                                <a href="">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span>
                                        {{restaurant.address}}
                </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span>
                  Call {{restaurant.phone}}
                </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>
                                        {{restaurant.email}}
                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="footer_detail">
                            <a href="" class="footer-logo">
                                {{restaurant.name}}
            </a>
                            <p>
                                {{restaurant.description}}
                            </p>

                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <h4>
                            Opening Hours
                        </h4>
                        <p>
                            Everyday
                        </p>
                        <p>
                            {{restaurant.hours}}
                        </p>
                    </div>
                </div>
                <div class="footer-info">
                    <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By
                        <a href="{% url 'Home' %}">{{restaurant.name}}</a><br><br> &copy; <span id="displayYear"></span> Developed By
                        <a href="https://github.com/Soufiane-Majdar" target="_blank">Soufiane-Majdar</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer section -->

        <!-- jQery -->
        <script src="/static/asset/js/jquery-3.4.1.min.js"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <!-- bootstrap js -->
        <script src="/static/asset/js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="/static/asset/js/custom.js"></script>



        {% if cart %}
        <script>
            $(window).on('load', function() {
                $("#cartModal").prependTo("body");
                $('#cartModal').modal('show');
            });
        </script>
        {% endif %}

</body>

</html>