<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="POST" action="{% url 'contact_submit' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone Number" required />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Your Email" required />
                        </div>
                        <div class="form-group">
                            <select name="persons" class="form-control nice-select wide" required>
                                <option value="" disabled selected>
                                    How many persons?
                                </option>
                                <option value="2">
                                    2
                                </option>
                                <option value="3">
                                    3
                                </option>
                                <option value="4">
                                    4
                                </option>
                                <option value="5">
                                    5
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="date" name="date" class="form-control" required>
                        </div>
                        <div class="btn_box">
                            <button type="submit" class="btn btn-primary">
                                Book Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- end contact section -->
