{% extends "base.html" %} {% block content %}

<!--#########################-->


<!-- offer section -->
{% include 'Home/offer.html' %}
<!-- end offer section -->


<!-- food section -->
{% include 'Home/food.html' %}
<!-- end food section -->


<!-- about section -->
{% include 'Home/about.html' %}
<!-- end about section -->


<!-- Contact us section -->

<!-- end Contact us section -->


<!-- reviews section -->
{% include 'Home/reviews.html' %}
<!-- end client section -->


<!--#########################-->
{% endblock content %}