{% extends "base.html" %} {% block content %}

<!--#########################-->

 
<!-- offer section -->
{% include 'offer.html' %}
<!-- end offer section -->


<!-- food section -->
{% include 'food.html' %}
<!-- end food section -->


<!-- about section -->
{% include 'about.html' %}
<!-- end about section -->


<!-- Contact us section -->
{% include 'contact.html' %}
<!-- end Contact us section -->


<!-- reviews section -->
{% include 'reviews.html' %}
<!-- end client section -->


<!--#########################-->
{% endblock content %}